[Unit]
Description=Alfred Project - Brain module


[Service]
Type=simple
User=alfred
EnvironmentFile=/etc/default/alfred
ExecStart=/bin/bash -c '. {{ plugin_virtualenv_path }}/bin/activate && {{ plugin_content_path }}/alfred-brain.py -i $ALFRED_SPINE_OUTPUT -o $ALFRED_SPINE_INPUT -m /var/lib/alfred/plugins -b /var/cache/alfred'


[Install]
WantedBy=multi-user.target
